<h1>Continu du ton chemin</h1>

<div class="col-md-4">
  <img style="width:100%" src="<%= @image %>">
</div>

<div class="col-md-4">
  <h2>Liens</h2>
<ul>
  <% @result["aggregations"].reject{|k,v| v["buckets"].empty?}.each do |key, value| %>
    <li><%= key %></li>
    <ul>
      <% value["buckets"].each do |bucket| %>
        <li>
        <a href="/raw/<%= @path_id %>/<%= key %>/<%= bucket["key"] %>/<%= URI::escape(bucket["link"]) %>">
          <%= bucket["key"] %>
        </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>
</div>

<div class="col-md-4">
  ARRRRRBBRRRE
</div>
