<h1>Metadata</h1>
<ul>
  <li> Requested: <%= @q %>
  <li> Duration: <%= @result["took"] %> </li>
</ul>

<h1>Data</h1>
<ul>
  <% if @result["hits"] && @result["hits"]["hits"] %>
  <% @result["hits"]["hits"].each do |hit| %>
    <% image = hit["_source"]["images"][0]["urls"] %>
    <li>
    <a href="/links/<%= hit["_id"] %>?path_id=<%=@path_id%>&origin_key=<%=@origin_key%>&origin_value=<%=@origin_value%>"> MOAR </a>
      <a href="<%= image["original"] %>">
        <img src="<%= image["thumbnail"]["url"] %>">
      </a>
    </li>
  <% end %>
  <% end %>
</ul>


