<h1>Pioche</h1>
  <div id="grid" data-columns>
  <% if @result["hits"] && @result["hits"]["hits"] %>
  <% @result["hits"]["hits"].each do |hit| %>
    <% image = hit["_source"]["images"][0]["urls"] %>
    <div class="item">
    <a href="/links/<%= hit["_id"] %>?path_id=<%=@path_id%>&origin_key=<%=@origin_key%>&origin_value=<%=@origin_value%>">
      <img style="width:100%" src="<%= image["medium"]["url"] %>">
    </a>
  </div>
  <% end %>
  <% end %>
</div>

<script src="/salvattore.min.js"></script>
